<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <div class="min-h-[100vh] flex flex-col">
        <%- partial('_component/header') %>
        <section id="main"><%- body %></section>
        <%- partial('_component/footer') %>
    </div>
</body>
</html>